.container {
  width: 400px;
  margin: 50px auto;
  border: 2px solid indigo;
  padding: 30px;
  border-radius: 10px;
  min-height: 200px;
}

.todoInputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}